{% extends 'blog/base.html' %} {% load static %} {% block title %} <title>About Us</title> {% endblock %} {% block content %}

<div class="w3-container " id="about" style="margin-top: 3%;"> 
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-16"><span class=" w3-wide">About Us</span><hr style="color: darkgreen;"></h5>
    <h6 class="w3-center"><span class="w3-wide">Committed to Excellence</span></h5>

    
    <div class="w3-panel w3-leftbar w3-light-grey" style="padding: 10px;border-radius: 8px;">
      <p><i>Vector Fields offers the comprehensive capabilities and deep industry knowledge necessary to complete your business tasks and help you solve complex issues of your organization. Since opening our doors in 2017, we are proud to say that each year we have a bigger list of new and returning clients.</i></p>
      
    </div>
    <img src="../../static/blog/img/sigmund-F_m44ut3XTw-unsplash.jpg" style="width:100%;max-width:1000px ;     border-radius: 20px;" class="w3-margin-top">
    
  </div>
</div>
{% endblock content %}
