<footer
  style="
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;

    color: cornsilk;
    text-align: center;
  "
>
  <p
    style="
      background: rgb(29,158,33);
background: linear-gradient(90deg, rgba(29,158,33,1) 57%, rgba(32,122,19,1) 80%, rgba(28,110,13,1) 91%);
      padding: 30px;
      
      font-size: 1.2rem;
      font-weight: 0.8rem;
    "
  >
    <span
      style="
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
      "
      >Contact number: +92 303 3224427</span
    >
    <br />
    <span
      style="
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
      "
      >Address : 402, Burj Al Saeed, Main ferozepur road, Ichra, Lahore
    </span>
  </p>
</footer>
