<nav
  class="navbar navbar-expand-lg navbar-light bg-white"
  style="padding-top: 4px;"
>
  <a class="navbar-brand" href="/" style="display: contents"
    ><img
      src="../../static/blog/img/Logo_vetor.png"
      alt=""
      style="height: auto; width: 135px"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item li-nav">
        <a class="nav-link" href="/"><span class="link-class">Home</span> </a>
      </li>
      <li class="nav-item li-nav">
        <a class="nav-link link-class" href="{% url 'testimonials' %}"
          ><span class="link-class">Testimonials</span></a
        >
      </li>
      <li class="nav-item li-nav">
        <a class="nav-link link-class" href="{% url 'about' %}"
          ><span class="link-class">About Us</span></a
        >
      </li>
    </ul>
  </div>
</nav>
