{% extends 'blog/base.html' %} {% load static %} {% block title %} <title>Testimonials</title> {% endblock %} {% block content %}

<div class="w3-container" id="testimonials" style="margin-top: 3%;">
  <div class="w3-content" style="max-width: 1000px;">
    <h2 class="w3-center w3-padding-16">
      <span
        class="w3-wide"
        style="
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        "
        >Testimonials</span
      >
    </h2>
    <hr style="margin-top: -15px; ">
    <h6 class="w3-center" style="margin-top: 5%;"><span>Kevin Castor </span></h6>
    <h6 class="w3-center">
      <span>Co-Founder and Sr. Project Manager at CafeMinds </span>
    </h6>

    <div class="w3-panel w3-leftbar w3-light-grey" style="padding: 10px; border-radius: 8px;">
      <p>
        <i
          >“Outsourcing our Tech Development to Vector Fields has significantly
          improved the running flow of our company and has allowed us to focus
          on growing our client base. CEO of vector fields, Mr. Usama and his
          team have impressed us from day one with their quick support,
          professional and courteous manner and proactive approach to keeping
          our operations smooth, protected and up-to date.”</i
        >
      </p>
    </div>

    <h6 class="w3-center"><span>JW wilson</span></h6>
    <h6 class="w3-center"><span>Executive Director at learning code </span></h6>

    <div class="w3-panel w3-leftbar w3-light-grey" style="padding: 10px;border-radius: 8px;">
      <p>
        <i>
          “As a professional writer and researcher, I wanted to hire someone who
          provides efficient services through great intellect. Vector fields
          provided me with great virtual assistant services that accelerated the
          finishing process of the launch of my highly anticipated book
          “Cracking The Learning Code “. As an executive director at two places
          and working on my roles as a researcher and writer, I could really use
          some trusted virtual aid I got from their team and I must say I’m very
          pleased to have chosen them”
        </i>
      </p>
    </div>
    <h6 class="w3-center"><span>Bryan Orr </span></h6>
    <h6 class="w3-center"><span>American CEO of a conglomerate </span></h6>

    <div class="w3-panel w3-leftbar w3-light-grey" style="padding: 10px; border-radius: 8px;">
      <p>
        <i
          >“Being a CEO of multiple firms comes with a lot of challenges and a
          routinely torrent of tasks. My hunt for personal assistants revolves
          around a simple goal and that is credibility and proficiency. Vector
          fields outsourced excellent virtual assistant services for two of my
          companies called “Kalos” and “HVCAR School”. The management of daily
          operations there has truly been undertaken responsibly and
          professionally. I am very satisfied with my decision to work with
          them.”</i
        >
      </p>
    </div>

    <h6 class="w3-center"><span>Rakia Finley</span></h6>
    <h6 class="w3-center">
      <span>Founder of Copper and Vine </span>
    </h6>

    <div class="w3-panel w3-leftbar w3-light-grey" style="padding: 10px; border-radius: 8px;">
      <p>
        <i
          >“As strategists and developers, we know what we’re looking for when
          it comes to building our team of workers. And safe to say, Vector
          fields has been one the marvellous additions to it. They outsourced
          for us an executive assistant whose role in our agency is truly
          commendable as the solutions that are offered happen to be quick,
          creative and up to the mark for our agency. I highly recommend that
          you give them a chance to cater their skills”</i
        >
      </p>
    </div>

    <h6 class="w3-center"><span>Kristal Covington</span></h6>
    <h6 class="w3-center">
      <span>A Real Estate investor and Agent </span>
    </h6>

    <div class="w3-panel w3-leftbar w3-light-grey" style="padding: 10px; border-radius: 8px;">
      <p>
        <i
          >“Vector fields assisted me remarkably through their call centre
          services for Acquisition and Disposition of properties. There was a
          clear and effective communication which was highly impressive. In this
          field of work we require a lot of patience, adaptability, empathy and
          positivity and their agent was very good at delivering that.
          Definitely one of those that I recommend.</i
        >
      </p>
    </div>
  </div>
</div>

{% endblock content %}
